---
import A from "@components/blog/A.astro";
import Heading from "@components/blog/Heading.astro";
import Li from "@components/blog/Li.astro";
import P from "@components/blog/P.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

export const getStaticPaths = async () => {
  const articles = await Astro.glob("../../data/articles/**/*.mdx");

  return articles.map((article) => {
    return {
      params: { slug: article.frontmatter.slug },
      props: { article },
    };
  });
};

const {
  Content,
  frontmatter: { title, cover, date },
} = Astro.props.article;
---

<BaseLayout title={title}>
  <div class="grow w-full bg-[#12181b] text-white text-lg">
    <div class="container mx-auto px-4 leading-[1.7] mt-8">
      <div
        class="w-full overflow-hidden rounded-3xl max-h-96 relative flex justify-center items-center"
      >
        <div class="absolute w-full h-full left-0 top-0 bg-black/60 z-0"></div>
        <img class="w-full h-full object-cover" src={cover} alt={title} />
        <div
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center flex justify-center items-center flex-col gap-5"
        >
          <h1
            class="article-main-title text-2xl sm:text-4xl xl:text-5xl font-extrabold text-transparent bg-clip-text bg-[#f97316]"
          >
            {title}
          </h1>
          <div class="w-1/4 md:w-1/6 bg-slate-400 h-[3px] rounded-3xl"></div>
          <span class="text-sm sm:text-lg"
            >{
              new Date(date).toLocaleDateString("en-US", {
                dateStyle: "medium",
              })
            }</span
          >
        </div>
      </div>
      <div
        class="rounded-2xl w-full bg-[#2a2e35] p-3 flex justify-start items-center gap-3"
      >
        <div class="rounded-full overflow-hidden w-12 h-12">
          <img
            class="w-full h-full object-cover"
            src="https://avatars.githubusercontent.com/u/78971171?v=4"
            alt="Ahmed Mohamed"
          />
        </div>
        <div>
          <h6 class="text-[#f97316]">Ahmed Mohamed</h6>
          <p class="text-xs md:text-sm !font-extralight">
            Frontend Web Developer.
          </p>
        </div>
      </div>
      <div class="pl-0 sm:pl-2 lg:pl-4">
        <Content
          components={{
            h1: Heading,
            li: Li,
            p: P,
          }}
        />
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .article-main-title {
    -webkit-text-stroke: 1px white; /* width and color */
  }
</style>
