---
import SectionHeading from "./SectionHeading.astro";
import footballPlayer from "@assets/images/football-player.gif";
import A from "@components/markdown/A.astro";
---

<div
  id="articles-section"
  class="w-full text-white container mx-auto px-4 flex justify-center items-center flex-col gap-6 my-20 sm:mt-32"
>
  <SectionHeading
    animate={true}
    primaryHeading="Skills"
    secondaryHeading="Know more about Me and My Skills ✍️"
    backgroundColor="bg-cyan-500"
    animateName={"animate-pulse"}
  />
  <p
    class="text-center text-lg"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-delay="30"
    data-aos-duration="1000"
  >
    Here you can find My <span class="relative inline articles">
      <img
        src={footballPlayer}
        class="scale-[0.75] absolute -bottom-[0.6rem] right-[150px] hidden"
        alt="Death Note: Light Yagami"
      />
      <A
        href="/about"
        target="_self"
        backgroundColor="before:bg-cyan-500"
        class="text-[#50b1d2] font-bold">Skills</A
      >
      and Technologies that I can Use.
    </span>
  </p>
</div>

<style>
  @media (min-width: 1024px) {
    .articles:hover > img {
      display: inline;
    }
  }
</style>
