<div
  class="w-full text-white container mx-auto px-4 flex justify-center items-center flex-col gap-8 mt-20 sm:mt-32"
>
  <div class="flex justify-center items-center flex-col gap-4">
    <span class="py-4 px-6 bg-[#ef4444] text-4xl font-bold">About Me</span>

    <span
      class="text-lg animate-pulse"
      data-aos="fade-right"
      data-aos-offset="100"
      data-aos-delay="30"
      data-aos-duration="1000">who am I? 🤔</span
    >
  </div>

  <p
    class="text-center text-lg"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-delay="30"
    data-aos-duration="1000"
  >
    My name is <a href="#" class="text-[#ff5e7d]">Ahmed</a>, {" "} I am a

    <span class="relative inline frontend">
      <img
        src="/images/cat.gif"
        class="scale-50 absolute -bottom-2 -left-14 hidden"
        alt="Cat Image"
      />
      <span class="text-[#f1c75b] font-bold">Frontend Web Developer</span>
    </span>, I like everything about Programming and Coding.
    <br />
    So If you Interest in Coding Follow Me 😊
  </p>

  <a class="mt-10 text-5xl animate-bounce">👇</a>
</div>

<style>
  @media (min-width: 1024px) {
    .frontend:hover > img {
      display: inline;
    }
  }
</style>
