---
import catImage from "@assets/images/cat.gif";
import SectionHeading from "./SectionHeading.astro";
import smokerPerson from "@assets/images/smoker-person.gif";
---

<div
  class="w-full text-white container mx-auto px-4 flex justify-center items-center flex-col gap-6 mt-20 sm:mt-32"
>
  <SectionHeading
    animate={true}
    primaryHeading="About Me"
    secondaryHeading="who am I? 🤔"
    backgroundColor="bg-[#ef4444]"
    animateName="animate-pulse"
  />

  <p
    class="text-center text-lg"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-delay="30"
    data-aos-duration="1000"
  >
    My name is <span class="relative inline frontend">
      <img
        src={smokerPerson}
        class="scale-[2.5] absolute bottom-[4.6rem] left-6 hidden"
        alt="Smoker Person"
      />
      <span class="text-[#ff5e7d] font-bold">Ahmed</span>
    </span>, {" "} I am a
    <span class="relative inline frontend">
      <img
        src={catImage}
        class="scale-1 absolute bottom-6 -left-14 hidden"
        alt="Programmer Cat"
      />
      <span class="text-[#f1c75b] font-bold">Web Developer</span>
    </span>, I like everything about Programming and Coding.
    <br />
    So If you Interest in Coding Follow Me 😊
  </p>

  <a
    data-aos="fade-up"
    data-aos-offset="100"
    data-aos-delay="150"
    data-aos-duration="1000"
    href="#articles-section"
    class="mt-10 text-5xl animate-bounce">👇</a
  >
</div>

<style>
  @media (min-width: 1024px) {
    .frontend:hover > img {
      display: inline;
    }
  }
</style>
