---
import SectionHeading from "./SectionHeading.astro";
import writingImage from "@assets/images/writing.gif";
import A from "@components/markdown/A.astro";
---

<div
  id="articles-section"
  class="w-full text-white container mx-auto px-4 flex justify-center items-center flex-col gap-6 my-20 sm:mt-32"
>
  <SectionHeading
    animate={true}
    primaryHeading="Articles"
    secondaryHeading="Awesome Articles ✍️"
    backgroundColor="bg-[#d100d4]"
    animateName={"animate-pulse"}
  />
  <p
    class="text-center text-lg"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-delay="30"
    data-aos-duration="1000"
  >
    Here you can find awesome <span class="relative inline articles">
      <img
        src={writingImage}
        class="scale-50 absolute -bottom-10 right-[200px] hidden"
        alt="Death Note: Light Yagami"
      />
      <A
        href="/blog"
        target="_self"
        backgroundColor="before:bg-[#ff5e7d]"
        class="text-[#ff5e7d] font-bold">Articles</A
      >
      in Programming specific in web development field,
    </span>
  </p>
</div>

<style>
  @media (min-width: 1024px) {
    .articles:hover > img {
      display: inline;
    }
  }
</style>
