---
import SectionHeading from "./SectionHeading.astro";
---

<div
  data-aos="fade-right"
  data-aos-offset="100"
  data-aos-delay="30"
  data-aos-duration="1000"
  id="articles-section"
  class="w-full text-white container mx-auto px-4 flex justify-center items-center flex-col gap-6 mt-20 sm:mt-32"
>
  <SectionHeading
    animate={true}
    primaryHeading="Articles"
    secondaryHeading="Awesome Articles ✍️"
    backgroundColor="bg-[#d100d4]"
    animateName={"animate-pulse"}
  />
  <p
    class="text-center text-lg"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-delay="30"
    data-aos-duration="1000"
  >
    Here you can find awesome <a href="/blog" class="text-[#ff5e7d]">Articles</a
    > that imporove Your Knowladge in Programming specific in web development field,
  </p>
</div>

<style>
  @media (min-width: 1024px) {
    .frontend:hover > img {
      display: inline;
    }
  }
</style>
