---
interface Props {
  cover: string;
  title: string;
  date: string;
}

const { cover, title } = Astro.props;
---

<div
  class="w-full overflow-hidden rounded-3xl relative flex justify-center items-center"
>
  <div class="absolute w-full h-full left-0 top-0 bg-slate-800/20 z-0"></div>
  <img
    class="w-full h-full md:h-[375px] lg:h-[500px] xl:h-[600px] object-cover"
    src={cover}
    alt={title}
  />
</div>

<style is:global>
  .article-main-title {
    -webkit-text-stroke: 1px white; /* width and color */
  }
</style>
