---
import personalImage from "@assets/images/personal-image.jpeg";
---

<div
  class="rounded-2xl w-full bg-[#2a2e35] p-3 flex justify-start items-center gap-3 mt-2 mb-20"
>
  <div
    class="rounded-full overflow-hidden w-12 h-12 border-2 border-orange-500"
  >
    <img class="w-full h-full" src={personalImage} alt="Ahmed Mohamed" />
  </div>
  <div>
    <a href="#" class="text-[#f97316]">Ahmed Mohamed</a>
    <p class="text-xs md:text-sm !font-extralight text-slate-300">
      Frontend Web Developer.
    </p>
  </div>
</div>
