---
import Logo from "@components/atoms/Logo.astro";

const currentDate = new Date();
const currentYear = currentDate.getFullYear();
---

<div class="flex justify-center items-center gap-2 flex-col sm:flex-row">
  <Logo width={"w-20 sm:w-12"} height={"h-20 sm:h-12"} />
  <div class="sm:mt-5 text-white">
    <span>© {currentYear}</span>
    {" "}
    <a href="#" class="text-orange-400">Ahmed Mohamed</a>
  </div>
</div>
