<header
  id="header-section"
  class="container mx-auto px-4 w-full text-center mt-10 md:mt-32"
>
  <div class="flex justify-center items-center flex-col gap-5">
    <h1 class="text-5xl font-extrabold text-white">
      Hello in My <span
        class="text-transparent bg-clip-text bg-gradient-to-t from-[#f97316] to-[#eab308]"
        >Offecial</span
      >
      Website
    </h1>
    <p class="text-xl text-[#b2becd]">
      In this Website you will find a lot of <span
        class="text-[#4acf84] font-bold">Tips</span
      >, <span class="text-[#f1c75b] font-bold">Trick</span> and <span
        class="text-[#ff5e7d] font-bold">Articles</span
      > About
      <a
        href="#"
        class="hover:text-white duration-300 font-semibold p-1 before:absolute before:bg-[#f97316]/90 before:bottom-0 before:left-0 before:w-full hover:before:h-full before:duration-300 before:h-1/3 before:-z-10 z-20 relative"
        >Frontend Development</a
      >
      <br />
      So I hope You get what you want in this Blog.
    </p>
  </div>
</header>
