---
import Logo from "../atoms/Logo.astro";
import NavBarButton from "../atoms/NavBarButton.astro";
---

<div class="w-full h-20 bg-[#12181b]">
  <div
    class="container mx-auto px-4 flex flex-col sm:gap-0 gap-6 sm:flex-row justify-between w-full h-full items-center"
  >
    <Logo />
    <div class="w-1/3 bg-[#e36a17] h-[5px] rounded-3xl sm:hidden">.</div>
    <nav class="text-white">
      <ul class="flex justify-center items-center gap-3">
        <li>
          <a href="/">
            <NavBarButton text="Home" />
          </a>
        </li>
        <li>
          <a href="/about">
            <NavBarButton text="About" />
          </a>
        </li>
        <li>
          <a href="/portfolio">
            <NavBarButton text="Portfolio" />
          </a>
        </li>
        <li>
          <a href="/blog">
            <NavBarButton text="Blog" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
