---
import BaseLayout from "@layouts/BaseLayout.astro";
// import errorImage from "@assets/images/error.gif";
---

<BaseLayout title="Error" description="Sorry, There is an Error Occured.">
  <div class="grow w-full flex justify-center items-center bg-[#12181b]">
    <img class="error-image rounded-full" src={"errorImage"} src="404 Error" />
  </div>
</BaseLayout>

<style is:global>
  .error-image {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 1024px) {
    .error-image {
      width: 230px;
      height: 230px;
    }
  }

  @media (max-width: 425px) {
    .error-image {
      width: 150px;
      height: 150px;
    }
  }
</style>
