---
import AboutMe from "@components/widgets/AboutMe.astro";
import AboutSection from "@components/widgets/AboutSection.astro";
import ArticlesSection from "@components/widgets/ArticlesSection.astro";
import Header from "@components/widgets/Header.astro";
import PortfolioSection from "@components/widgets/PortfolioSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Ahmed Mohamed"
  description="Nice Projects, Awesome Articles and More in My Offecial Website, So Follow Me Now."
>
  <div class="grow w-full bg-[#12181b]">
    <Header />
    <AboutMe />
    <AboutSection />
    <PortfolioSection />
    <!-- <ArticlesSection /> -->
  </div>
</BaseLayout>
