---
import AboutMe from "../components/widgets/AboutMe.astro";
import Header from "../components/widgets/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Welcome to Astro.">
  <div class="grow w-full bg-[#12181b]">
    <Header />
    <AboutMe />
  </div>
</BaseLayout>
