---
interface Porps {
  href: string;
  target?: string;
  backgroundColor?: string;
}
const {
  href,
  target = "_blank",
  backgroundColor = "before:bg-[#f97316]/80",
} = Astro.props;
---

<a
  href={href}
  target={target}
  class={`hover:text-white duration-500 p-1 before:absolute ${backgroundColor} before:bottom-0 before:left-0 before:w-full hover:before:h-full before:duration-500 before:h-1/3 before:-z-10 z-20 relative inline mx-1`}
  ><slot />
</a>
