<h1
  class="markdown-heading font-extrabold text-4xl lg:text-5xl mb-5 text-transparent bg-clip-text bg-gradient-to-t from-[#f97316] to-[#eab308]"
>
  <slot />
</h1>

<style is:global>
  .markdown-heading {
    word-break: break-all;
  }
</style>
