---
import logo from "/images/logo.png";

interface Props {
  width?: string;
  height?: string;
}

const { width = "w-20", height = "h-20" } = Astro.props;
---

<a href="/">
  <!-- <span class="glitch text-white font-bold text-5xl">A.M</span> -->
  <img class={`${width} ${height}`} src={logo} alt="Ahmed's Logo" />
</a>
