---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<Fragment>
  <button class="relative navbar-button">
    <span
      class="font-semibold text-sm sm:text-md text-[#12181b] bg-white duration-200 text px-[8px] py-[8px] sm:px-3 sm:py-3 rounded-xl before:absolute before:w-full before:h-full before:bg-[#ff5e7d] before:-z-10 before:top-[4px] before:left-[4px] before:rounded-xl before:duration-75 relative z-20"
    >
      {text}
    </span>
  </button>
</Fragment>

<style is:global>
  .navbar-button:hover .text:before {
    top: 0px;
    left: 0px;
  }

  .navbar-button:active .text:before {
    top: 0px;
    left: 0px;
  }
</style>
